name: Check Version Updated

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "*.nix"
      - "flake.lock"

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check Semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
